ol{
    margin-left: 20px;
    margin-top: 20px;
    list-style-position: inside;
}
p{
    color: blue;
}
.demo{
    font-size: 40px;
    text-align:center;

}

#id-selector-demo{
    color: rgb(41, 221, 41);
}

li[value="5"]{
    color:rgb(212, 45, 151);
}

li[value="4"]{
    color: rgb(58, 192, 229);
}
h1{
    text-align: center;
}
h2{
    text-align: center;
    font-size: 30px;
}

  